# Importing data

In [3]:
#importing necessary libraries
import pandas as pd
import numpy as np
cars_data = pd.read_csv('Toyota.csv',index_col=0,na_values=['??','????'])

In [2]:
cars_data.head()

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,13500,23.0,46986.0,Diesel,90.0,1.0,0,2000,three,1165
1,13750,23.0,72937.0,Diesel,90.0,1.0,0,2000,3,1165
2,13950,24.0,41711.0,Diesel,90.0,NaN,0,2000,3,1165
3,14950,26.0,48000.0,Diesel,90.0,0.0,0,2000,3,1165
4,13750,30.0,38500.0,Diesel,90.0,0.0,0,2000,3,1170

In [5]:
# creating a deep copy of the original data
cars_data2 = cars_data.copy()

# Frequency tables

## pandas.crosstab()

In [5]:
pd.crosstab(index=cars_data2['FuelType'],columns='count',dropna=True)

col_0     count
FuelType
CNG          15
Diesel      144
Petrol     1177

## Two-way tables
- Relationship b/w two categorical variables.

In [7]:
# To look at the frequency distribution of gearbox types w.r.t different fuel types of the cars.
pd.crosstab(index = cars_data2['Automatic'],
           columns = cars_data2['FuelType'],
           dropna = True)

FuelType   CNG  Diesel  Petrol
Automatic
0           15     144    1104
1            0       0      73

## joint probability 
- Joint probability is the likelihood of two independent events happening at the same time.

In [8]:
pd.crosstab(index = cars_data2['Automatic'],
           columns = cars_data2['FuelType'],
           normalize = True,
           dropna = True)

FuelType        CNG    Diesel    Petrol
Automatic
0          0.011228  0.107784  0.826347
1          0.000000  0.000000  0.054641

## marginal probability
- Marginal probability is the probability of the occurence of the single event.

In [10]:
pd.crosstab(index = cars_data2['Automatic'],
           columns = cars_data2['FuelType'],
            margins = True,
           normalize = True,
           dropna = True)

FuelType        CNG    Diesel    Petrol       All
Automatic
0          0.011228  0.107784  0.826347  0.945359
1          0.000000  0.000000  0.054641  0.054641
All        0.011228  0.107784  0.880988  1.000000

In [1]:
# probability of cars having manual gear box when the fuel type are CNG or Diesel or Petrol is 0.95

## conditional probability
- Conditional probability is the probability of an event A, given that another event B has already occurred.

In [6]:
# Given the type of gear box, probability of different fuel type
pd.crosstab(index = cars_data2['Automatic'],
           columns = cars_data2['FuelType'],
           margins = True,
           dropna = True,
           normalize = 'index')

FuelType        CNG    Diesel    Petrol
Automatic
0          0.011876  0.114014  0.874109
1          0.000000  0.000000  1.000000
All        0.011228  0.107784  0.880988

In [7]:
# Given that a car manual gear box, there is high probability of having FuelType as petrol.

In [9]:
# Given the FuelType of a car, probability of different gear boxes.
pd.crosstab(index = cars_data2['Automatic'],
           columns = cars_data2['FuelType'],
           margins = True,
           dropna = True,
           normalize = 'columns')

FuelType   CNG  Diesel    Petrol       All
Automatic
0          1.0     1.0  0.937978  0.945359
1          0.0     0.0  0.062022  0.054641

In [10]:
# Given that the car has CNG fuel type, the probability of manual gear box is 1.

# Correlation
- The strength of association b/w two numerical variables.
- visual representation of correlation: Scatter plots
- Theoretically, the value of correlation is bounded b/w +1 and -1.
- if value is 0 => no correlation.
- closer to +1 => strong correlation positively.
- closer to -1 => strong correlation negatively.
- DataFrame.corr(self,method='pearson')

In [11]:
numerical_data = cars_data2.select_dtypes(exclude=[object])

In [12]:
numerical_data.shape

(1436, 8)

In [13]:
corr_matrix = numerical_data.corr()

In [14]:
print(corr_matrix)

              Price       Age        KM        HP  MetColor  Automatic  \
Price      1.000000 -0.878407 -0.574720  0.309902  0.112041   0.033081
Age       -0.878407  1.000000  0.512735 -0.157904 -0.099659   0.032573
KM        -0.574720  0.512735  1.000000 -0.335285 -0.093825  -0.081248
HP         0.309902 -0.157904 -0.335285  1.000000  0.064749   0.013755
MetColor   0.112041 -0.099659 -0.093825  0.064749  1.000000  -0.013973
Automatic  0.033081  0.032573 -0.081248  0.013755 -0.013973   1.000000
CC         0.165067 -0.120706  0.299993  0.053758  0.029189  -0.069321
Weight     0.581198 -0.464299 -0.026271  0.086737  0.057142   0.057249

                 CC    Weight
Price      0.165067  0.581198
Age       -0.120706 -0.464299
KM         0.299993 -0.026271
HP         0.053758  0.086737
MetColor   0.029189  0.057142
Automatic -0.069321  0.057249
CC         1.000000  0.651450
Weight     0.651450  1.000000